@model doan.Models.KyHoc
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm kỳ học</h2>
    </div>
    <form method="post" asp-action="Them">
        <div class="form-group">
            <label asp-for="NamHoc">Năm học</label>>
            <select class="form-select" asp-for="NamHoc">
                @for (int i = 2020; i <= DateTime.Now.Year; i++) 
                {
                    string istr = i.ToString() + "-" + (i + 1).ToString();
                    <option value="@i">@istr</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="HocKy">Học Kỳ</label>
            <select class="form-select" asp-for="HocKy">
                <option value="1">Học kỳ 1</option>
                <option value="2">Học kỳ 2</option>
                <option value="3">Học kỳ hè</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</main>

@{
    var summerNote = new doan.Areas.Admin.Models.SummerNote("#MoTa");
    <partial name="_SummerNote" model="summerNote" />
}